<!-- <nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Angular</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="#">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link" href="#">
        <i class="fa fa-medium"></i>
      </a>
    </div>
  </div>
</nav> -->
<ul class="nav nav-tabs" role="tablist" style="background: black;">
  <li class="nav-item">
    <a class="nav-link active" href="#button" role="tab" data-toggle="tab">Button</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#shape" role="tab" data-toggle="tab">Shapes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#theme" role="tab" data-toggle="tab">Themes</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#icon" role="tab" data-toggle="tab">Icons</a>
    </li>
</ul>

