<app-layout>
  <div class="container">
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="button">
      <div class="row">
        <div class="col-md-9">
            <div style="margin:5px;" class="btn btn-primary btnObj trigger">{{button}}</div>
            <div style="margin:5px;" class="btn btn-warning btnObj trigger">{{button}}</div>
            <div style="margin:5px;" class="btn btn-success btnObj trigger">{{button}}</div>
            <div style="margin:5px;" class="btn btn-danger btnObj trigger">{{button}}</div>
        </div>
        <div class="col-md-3">
          <input  [(ngModel)]="button" class="form-control" />
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="shape">
        <div class="row">

            <div class="col-md-2">
                <div class="realobject {{bg}}" style="width:130px;height:130px;border-radius:100%;margin:5px;">
                    <p class="text-center {{textColor}}" style="position:relative;padding:10px;">{{paragraph}}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="realobject {{bg}}" style="width:130px;height:130px;margin:5px;">
                    <p class="text-center {{textColor}}" style="position:relative;padding:10px;">{{paragraph}}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="alert alert-primary realobject" role="alert">
                    <p class="text-center">{{paragraph}}</p>
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="theme">
        <div class="row">
            <div class="col-md-3">
                <div class="theme-image">
                    <img src="../assets/slide1.jpg" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="theme-image">
                    <img src="../assets/slide2.jpg" />
                </div>
            </div>
            <br />
            <div class="col-md-3">
                <div class="theme-image">
                    <img src="../assets/slide3.jpg" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="theme-image">
                    <img src="../assets/slide4.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="icon">
        <div class="row">
            <div class="col-md-1">
                <div class="icon-image">
                    <img src="../assets/undo.png" />
                </div>
            </div>
            <div class="col-md-1">
                <div class="icon-image">
                    <img src="../assets/redo.png" />
                </div>
            </div>
            <br />
            <div class="col-md-1">
                <div class="icon-image">
                    <img src="../assets/about.png" />
                </div>
            </div>
            <div class="col-md-1">
                <div class="icon-image">
                    <img src="../assets/quote.png" />
                </div>
            </div>
        </div>
    </div>
  </div>
    <br />
    <div class="row">

        <div class="col-md-2">
            <div class="card">
                <div class="card-body">

                    <div class="col-md-12">
                        <div class="realobject">
                            <img style="width:100%;" src="../assets/slide1.jpg" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="realobject">
                            <img style="width:100%;" src="../assets/slide2.jpg" />
                        </div>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <div class="realobject">
                            <img style="width:100%;" src="../assets/slide3.jpg" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="realobject">
                            <img style="width:100%;" src="../assets/slide4.jpg" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-primary" (click)="getService()">Submit</button>
                    </div>
                    <br />
                    <div class="col-md-12">
                        <button class="btn btn-danger" (click)="dataBinds($event)">Reset</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <!-- <div class="row">
                <div class="col-md-7">
                    <div class="card" style="height:17rem;">
                        <div class="card-body">

                            <input [(ngModel)]="paragraph" class="form-control" style="margin-bottom:5px;font-size:10px;" value="Button" />
                            <button class="btn btn-primary btn-sm" (click)="changeBackgroundColor('bg-primary')">B</button>
                            <button class="btn btn-success btn-sm" (click)="changeBackgroundColor('bg-success')">B</button>
                            <button class="btn btn-danger btn-sm" (click)="changeBackgroundColor('bg-danger')">B</button>
                            <button class="btn btn-warning btn-sm" (click)="changeBackgroundColor('bg-warning')">B</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <button class="btn btn-dark btn-sm" (click)="changeTextColor('text-dark')">P</button>
                            <button class="btn btn-default btn-sm" (click)="changeTextColor('text-white')">P</button>
                            <button class="btn btn-danger btn-sm" (click)="changeTextColor('text-danger')">P</button>
                            <button class="btn btn-warning btn-sm" (click)="changeTextColor('text-warning')">P</button>
                        </div>
                    </div>
                </div>

            </div> -->
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="height:35rem;">
                        <div class="card-body">
                            <div id="container" style="width:100%;z-index:-1;padding:20px;height:32.2rem;" class="ui-widget-content"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <button (click)="getContainer()">Save</button>
    <input type="text" />
    <br />
</div>
<div id="dialog" class="col-md-12" style="height:200px !important">
    <textarea class="editor"></textarea>
</div>
<div class="menu">
    <ul class="menu-options">
        <li class="menu-option yesMenu">Yes</li>
        <li class="menu-option noMenu">No</li>
        <li class="menu-option c">Save</li>
        <li class="menu-option d">Save As</li>
        <li class="menu-option e">Inspect</li>
    </ul>
</div>
</app-layout>

